<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Django REST with React</title>
</head>
<body>
<button onclick="clickBtn(this)" id="clickBtn">Click</button>
<h1 id="counter">{{ count_clicks }}</h1>
<script>
  function clickBtn() {
    console.log('click');
    fetch('api/click', {credentials: "include"}).then();
    /*fetch('api/click', {credentials: "include"}).then(resp => {
        let counter = document.getElementById('counter');
        counter.innerText = Number(counter.innerText) + 1;
    });*/
    let counter = document.getElementById('counter');
    counter.innerText = Number(counter.innerText) + 1;
  }
  //document.getElementById("click").addEventListener("click", click);
</script>
<div id="app">
    <!-- React will load here -->
</div>
</body>
<!--
{% load static %}
<script src="{% static "vk_mini_app/main.js" %}"></script>
-->
</html>